@font-face
    font-family: 'Century Gothic'
    font-style: normal
    font-weight: 200
    src: url('assets/century_gothic.TTF'), url('assets/century_gothic.eot')


body
    font-family: 'Century Gothic'
    font-size: 1.4em
    font-size: calc(.6vw + .8em)
    line-height: 1.6
    margin: 0

h1, h2, h3, h4, h5, h6
    font-weight: 200
    line-height: 1em
    a
        font-size: 1.2em


.container-fluid
    padding-top: 0


a
    color: inherit
    text-decoration: inherit
    transition: color .2s ease-out
    &:hover
        color: gray
    &#selected
        color: #46e



table
    border-collapse: collapse
    width: 100%
    th, td
        padding: .25em 0.25em
        border: 1px solid


pre
    padding: 1em
    font-size: 0.8em
    background: #333
    color: #ffffff
    overflow-x: auto
    margin-top: 2em
    margin-bottom: 2em

pre 
    code
        overflow-wrap: normal
        white-space: pre


blockquote
    border-left: 5px solid #46e
    margin: 0
    padding-left: 1.5em




#left-panel
    float: left
    display : block
    width : 20%



#content-panel
    border-left: 1px solid #9f9f9f
    font-size: 1.2em

    img
        display: block
        margin: 2em auto 2em auto
        max-width: 95%

    h1
        margin-top: 0.1em
        margin-bottom: 1.4em
        font-size: 2.5em

    h2, h3, h4
        margin-top: 2em
        margin-bottom: 1em


.header
    background: #e7e7e7
    border-bottom: 1px solid #9f9f9f
    margin-bottom: 1em
    margin-top: 0
        
.homepage-text
    a
        color: #2a51ff
        text-decoration: underline


.content-footer
    border-top: 1px solid #9f9f9f
    margin-top: 1em
    
    .page-link
        border: 1px solid #303030
        color: #2a51ff
        padding: .5em
        transition: background-color .2s ease-out
        max-width: 40%
        margin-top: 1em
        margin-bottom: 1em

    .page-link:hover
        background: #303030
        color: #ffffff

    a:hover
        color: #ffffff



.sidebar-img
    margin-top: 0
    margin: 0.5em
    max-height: 6em

.sidebar-item
    padding: 0.5em

    .current-page-marker
        margin-right: 1em


.prev-part
    float: left

.next-part
    float: right
    
.no-top-padding
    padding-top: 0px