---
layout: blank
---

    <article>

      <header>
        <h5>{{ page.tutorial_name }} - Part {{ page.tutorial_part}}</h5>
        <hr />
        <h1>{{ page.tutorial_title }}</h1>
        <hr />
      </header>

      <div>
      {{ content }}
      </div>

      <footer>

        <hr />

        {% if page.previous %}
        <div class="article-nav-item prev-part">
          <a href="{{site.baseurl }}{{page.previous.url}}">&laquo; {{page.previous.tutorial_title}}</a> 
        </div>
        {% endif %}


        {% if page.next %}
        <div class="article-nav-item next-part">
          <a href="{{site.baseurl }}{{page.next.url}}">{{page.next.tutorial_title}} &raquo;</a> 
        </div>
        {% endif %}
      </footer>

    </article>


    

    





